*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family:  sans-serif;
}

.container{
 width: 100%;
 background:linear-gradient(45deg, #010758, #490d61);
 min-height: 100vh;
 padding: 10px;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction:column;
}

.container h1{
 font-size: 45px;
 font-weight: 500;
 margin-top: -50px;
 margin-bottom: 50px;
 color: #fff;
}

.container h1 span{
 color: #ff2963;
}

textarea{
 width: 600px;
 height:250px;
 background: #403d84;
 color:#fff;
 font-size: 15px;
 border: 0px;
 padding: 20px;
 border-radius: 10px;
 resize: none;
 margin-bottom: 30px;
}

textarea::placeholder{
 font-size: 16px;
 color: #ddd;
}
.row{
 width: 600px;
 display: flex;
 align-items: center;
 /* justify-content: center; */
 gap: 20px;
}

button{
 border: none;
 outline: none;
 background: #ff4945;
 color: #fff;
 padding:10px 30px;
 border-radius: 40px;
 cursor: pointer;
 font-size: 16px;
 display:flex;
 align-items:center;
}
button img {
 width: 16px;
 margin-right: 10px;
}

select{
 flex: 1;
 color: #fff;
 background: #403d84;
 height: 50px;
 padding: 0 20px;
 outline: 0;
 border: 0;
 border-radius: 35px;
 appearance: none;
 background-image: url(images/dropdown.png);
background-repeat: no-repeat;
background-size: 15px;
background-position-x: calc(100% - 20px);
background-position-y:  20px;
}