*{
 margin: 0;
 padding:0;
 font-family :Arial, Helvetica, sans-serif;
 box-sizing : border-box;
}
body{
 background: #222;
}

.card{
 width :90%;
 text-align: center;
 margin: 100px auto 0;
 padding: 50px 40px;
 background: linear-gradient(135deg, #00feba, #5b548a);
 max-width : 500px;
 color :#fff;
 border-radius: 20px;
}

.search{
width: 100%;
align-items: center;
display: flex;
justify-content:space-between;
}

.search input {
 border : 0;
 outline: 0;
 padding : 10px 25px;
 height : 60px;
 border-radius: 30px;
 background: #edfffc;
 color : #555;
 flex: 1;
 margin-right: 16px;
 font-size: 18px;
}

.search button{
 border : 0;
 outline: 0;
 border-radius: 50%;
 background: #edfffc;
 width : 60px;
 height:60px;
 cursor :pointer
}

.search button img{
 width :20px;
}

.weather-icon{
 width : 170px ;
 margin-top: 30px;
}

.weather h1{
 font-size:80px;
 font-weight:500;
}

.weather h2{
 font-size:45px;
 font-weight:400;
 margin-top :-10px;
}

.details{
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin-top: 50px;
}

.col {
 display:flex;
 align-items:center;
 text-align:left;
}

.col img {
 width : 40px;
 margin-top: 10px;
 margin: 12px;
}

.hmidity , .wind{
 font-size:30px;
 margin-top : -10px;
}

.error{
 text-align :left;
 margin-top: 10px;
 margin-left:14px;
 font-size:15px;
 display: none;
}